.Navigation {
  padding: 5% 5%;
  border-bottom: 1px solid #E8E8E8;
}

.Heading {
  color: #A0A4A8;
  text-transform: uppercase;
}

p {
  text-align: left;
  margin: 0 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 10px;
}

ul li a {
  text-decoration: none;
  color: #8C9398;
  font-weight: 700;
}