body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: #F6F8FB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pages {
  margin: 5% 10%;
}

.article p {
  line-height: 2rem;
}

a.active {
  color: #1C2D5B;
}

button, select {
  font-size: 1rem;
}

.article > *, select, button {
  margin: 2rem;
}

.home > *, select, button {
  margin: 2rem;
}

.joke.main p {
  text-align: center;
}